// Colors of project

// Brand-colors

$primary-darken:#321A5A;
$primary-dark:#6528AD;
$primary-normal:#9756FF;
$primary-light:#AA76FD;
$primary-lighten:#c7aaf6;
.primary-darken{
    color:$primary-darken;
};

// Neutral-colors
$white-darken:#F3EEF8;
$white-dark:#F6F2FA;
$white-normal:#FAF9FD;
$white-light:#FFFFFF;

$black-dark:#0F081B;
$black-normal:#190D2D;
$black-light:#23123F;

// Gray Scale
$gray-600:#A1A1A0;
$gray-500:#B1B1B0;
$gray-400:#C1C1C0;
$gray-300:#D1D1D0;
$gray-200:#E1E1E0;
$gray-100:#F1F1F0;


// Auxiliary colors
$neutral:#D8DBE3;

$error-normal: #F03D3D;
$error-dark: #d03333;
$error-light: rgb(240, 84, 84);
$error-lighten: rgba(240, 84, 84,0.1);;

$success-normal: #0BB07B;
$success-dark: #28bb49;
$success-light: #50e170;

$warning-normal: #FFCE52;
$warning-dark: #d9b043;
$warning-light: #ffd76b;



.color-white{
    color: $white-normal;
}

.color-black{
    color: $black-light;
}

.color-primary{
    color: $primary-normal;
}

.color-gradient{
    display: inline-block; 
    background: linear-gradient(224.78deg, #321A5A 8.12%, #6528AD 92.21%);
    -webkit-text-fill-color: transparent;
}

.bg-gradient{
    background: linear-gradient(224.78deg, #321A5A 8.12%, #6528AD 92.21%);
}





