.divider{
    display: flex;
    align-items: center;
    p{
        margin: 0 $gap-1;
        color: $gray-400;
    }
    &::before,&::after{
        content: '';
        display: block; /* Torna os pseudo-elementos em linha */
        flex: 1;
        height: 1px; /* Garante que os pseudo-elementos tenham altura total */
        background-color: $gray-400;
    }
}