.logo{
    display: flex;
    align-items: center;
    .img-logo{
        margin-right: $gap-2;
    }
    .text-logo{
        color: $primary-light;
        letter-spacing: 4px;
    }
}
.center-logo{
    justify-content: center;
}